
<h1> Route Title: <%= @route.description %>  </h1>

<div>
	<%= link_to "Get Output for Solver", :controller => "routes", :action => "output", :id => @route %> <br/>
	<%= link_to "Upload Solution", :controller => "routes", :action => "upload", :id => @route %>
</div>

<div class="row">
	
	<div class="col-md-6">
		<h3>Submitted Route</h3>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Location</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<% @route.coordinates.each do |k,v| %>
						<tr>
							<td><%= "#{k}" %></td>
							<td><%= "#{v[:lat]}" %></td>
							<td><%= "#{v[:long]}" %></td>	
						</tr>
					<%end%>
				
				</tbody>
			</table>

	</div>
</div>
<div class="row">
	
	<div class="col-md-6">
		<h3> Optimal Route </h3>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Location</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<% @route.optimal_path.each do |location| %>
						<tr>
							<td><%= "#{location[0]}" %></td>
							<td><%= "#{location[1]}" %></td>
							<td><%= "#{location[2]}" %></td>	
						</tr>
					<%end%>
				
				</tbody>
			</table>
	</div>
</div>

<div id="map-canvas"></div>





